{% extends "base.html" %}

{% block title %}
Client Details
{% endblock %}

{% block page_heading %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-4 text-gray-800">Client Detail - {{ client.name }}</h1>
        <a href="{% url "clients:update" client.pk %}" class="d-sm-inline-block btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-pencil-alt"></i>
                </span>
            <span class="text">Edit</span>
        </a>
    </div>
{% endblock %}

{% block content %}
    <!-- Content Row -->
    <div class="row mb-4">
        <div class="col-lg-12 mb-4">

            <!-- Client Details -->
            <div class="card mb-2">
                <!-- Card Header -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-success">Contact Details</h6>
                </div>
                <div class="card-body">
                    <div class="card-deck">
                    {% for contact in client.contacts.all %}
                        <div class="card mb-2">
                            <div class="card-header">
                                <div class="buttons float-sm-right mb-2">
                                    <a href="{% url "clients:update_contact" client.pk contact.pk %}" class="d-xs-block d-sm-inline-block btn btn-sm btn-success btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                                        <span class="text">Edit Contact</span>
                                    </a>
                                    <a href="{% url "clients:delete_contact" client.pk contact.pk %}" class="d-xs-block d-sm-inline-block btn btn-sm btn-danger ml-1">
                                        <span class="icon text-white">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <p><strong>Name:</strong> {{ contact.name }}<br>
                                <strong>Email:</strong> {{ contact.email }}<br>
                                <strong>Phone:</strong> {{ contact.phone }}<br>
                                <strong>Position:</strong> {{ contact.position }}</p>
                            </div>
                            {% if contact.is_primary %}
                            <div class="card-footer">
                                <span class="text-muted"><strong>Primary Contact</strong></span>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                    <p><a href="{% url "clients:create_contact" client.pk %}" class="btn btn-success btn-sm">Add Contact</a></p>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-2">
            <h2 class="h4 mb-0 text-gray-800">Projects</h2>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-6 mb-4">
            <!-- Active Projects -->
            <div class="card mb-2">
                <!-- Card Header -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Active Projects</h6>
                </div>
                <div class="card-body">
                    {% if active_projects %}
                        <ul>
                            {% for project in active_projects %}
                                <li><a href="{% url "projects:detail" project.pk %}">{{ project.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No Active Projects</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card mb-2">
                <!-- Inactive Projects -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Inactive Projects</h6>
                </div>
                <div class="card-body">
                   {% if inactive_projects %}
                        <ul>
                            {% for project in inactive_projects %}
                                <li><a href="{% url "projects:detail" project.pk %}">{{ project.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No Inactive Projects</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-2">
            <h2 class="h4 mb-0 text-gray-800">Servers & Tasks</h2>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-6 mb-4">

            <div class="card mb-2">
                <!-- Card Header -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-warning">Servers</h6>
                </div>
                <div class="card-body">
                    {% if servers %}
                        <ul>
                            {% for server in servers %}
                                <li><a href="{% url "servers:detail" server.pk %}" class="text-warning">{{ server.hostname }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No Attached Servers</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">

            <div class="card mb-2">
                <!-- Inactive Projects -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-info">Active Tasks</h6>
                </div>
                <div class="card-body">
                    {% if tasks %}
                        <ul>
                            {% for task in tasks %}
                                <li><a href="{% url "tasks:detail" task.pk %}" class="text-info">{{ task.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No Active Tasks</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-2">
            <h2 class="h4 mb-0 text-gray-800">Client Notes</h2>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-12 mb-4">
            {% for note in client.notes.all %}
                <div class="card mb-2">
                    <div class="card-body">
                        <p class="buttons float-sm-right">
                            <a href="{% url "clients:note.update" client.pk note.pk %}" class="d-xs-block d-sm-inline-block btn btn-sm btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                                <span class="text">Edit Note</span>
                            </a>
                            <a href="{% url "clients:note.delete" client.pk note.pk %}" class="d-xs-block d-sm-inline-block btn btn-sm btn-danger ml-sm-1">
                                <span class="icon text-white">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </a>
                        </p>
                        <p>
                            Posted: {{ note.created|date:"F j, Y h:i A" }}<br>
                            Modified: {{ note.modified|date:"F j, Y h:i A" }}
                        </p>
                        <p>{{ note.details|linebreaksbr }}</p>
                    </div>
                </div>
            {% empty %}
                <p>No client notes yet.</p>
            {% endfor %}
        </div>
        <div class="col-lg-12 mb">
            <a href="{% url "clients:note.create" client.pk %}" class="d-xs-block d-sm-inline-block btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Add Note</span>
            </a>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-12">
            <a href="{% url "clients:delete" client.pk %}" class="btn btn-danger float-right">Delete Client</a>
            <form method="POST" action="{% url "clients:archive" client.pk %}" class="float-right mr-2">
                {% csrf_token %}
                <input type="hidden" name="status" value="inactive" />
                <button class="d-sm-inline-block btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Archive Client</span>
                </button>
            </form>
        </div>
    </div>
{% endblock %}
